.layout {
    margin-top: 50px;
}

.group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-header {
    display: inline;
}

.glyphicon.glyphicon-remove {
    color: red;
}

.add-page-container {
    margin-top: 15px;
}