.layout {
    margin-top: 50px;
}

.group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.group-header {
    display: block;
}

.glyphicon.glyphicon-remove {
    color: red;
}

.add-page-container {
    margin-top: 15px;
}

li.list-group-item.active > a {
    color: #fff;
}

.input-auto-width {
    width: auto;
}

.top15 {
    margin-top: 15px;
}