.layout {
    margin-top: 50px;
}

/*Group component*/

.group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.group-header {
    display: block;
}

.glyphicon-remove {
    color: #C62828;
}

.add-page-container,
.top15 {
    margin-top: 15px;
}

.bot15 {
    margin-bottom: 15px;
}

li.list-group-item.active > a {
    color: #fff;
}

.input-auto-width {
    width: auto;
}

.panel-body .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.thumb {
    margin-bottom: 30px;
    max-height: 200px;
    /*border-bottom: 0px;*/
    border-radius: 0;
    /*padding: 10px;*/
}

.photo-description {
    margin-bottom: 30px;
    padding: 4px;
    border: 1px solid #ddd;
    border-top: 0;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

.drop-box {
    background: #ddd;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px dashed black;
}

.photos-draggable {
    min-height: 300px;
}

.photos-draggable.dragover {
    border: 2px dashed #337ab7;
}

.photos-draggable.dragover .files-list-dragover-empty {
    display: none;
}

.photos-draggable.dragover *,
.xmlLoader.dragover * {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.xmlLoader {
    border: 2px dashed #337ab7;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

.xmlLoader.dragover {
    border: 2px dashed #FF753A;
    transition: border 0.2s ease-in-out;
}

.photo-wrapper {
    position: relative;
    display: inline-block;
}

.photo-wrapper > .glyphicon-remove {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.photo-wrapper:hover > .glyphicon-remove {
    display: inline-block;
}

.color-orange {
    color: #FF753A !important;
}

.move-element {
    padding-right: 10px;
}

.unassigned-group-selector {
    color: grey;
    font-style: italic;
    text-decoration: underline;
}

.page-title {
    text-transform: capitalize;
}

.domain-details {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;

}

.panel-heading {
    background-color: #fff;
}

.panel-heading.collapsed {
    border-bottom: 0px !important;
}

.navbar {
    border-radius: 0;
}

.draggable.domains-list > *:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.text-muted {
    color: #eee;
}

.files-list-dragover-empty {
    min-height: inherit;
    min-width: inherit;
    border: 2px dashed #0288D1;
}

.files-list-dragover-empty * {
    padding-top: 100px;
}