<div class="row">
  <div class="container-fluid">
    <ul class="list-group">
      <li ng-repeat="domain in $ctrl.domains" href="#" class="list-group-item">
        {{domain.name}}
        <a ng-click="$ctrl.removeDomain(domain.name)"><span class="glyphicon glyphicon-remove pull-right"></span></a>
      </li>
    </ul>

    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="$ctrl.addDomain(domainName)">Dodaj</button>
      </span>
      <input type="text" class="form-control" placeholder="Nowa domena" ng-model="domainName">
    </div>
  </div>

</div>




