<div class="panel panel-primary">
  <div class="panel-heading panel-heading-page" data-toggle="collapse"
       data-target="#Page{{$ctrl.name}}Group{{$ctrl.group._name}}PanelContent"
       aria-expanded="true" aria-controls="Page{{$ctrl.name}}Group{{$ctrl.group._name}}PanelContent">
        <span class="h4">
          Grupa: {{$ctrl.group._name}} | {{$ctrl.name}}
        </span>
    <a href="" ng-click="$ctrl.removeGroupFromPage()"><span class="glyphicon glyphicon-remove pull-right"></span></a>
  </div>
  <div class="panel-body collapse" id="Page{{$ctrl.name}}Group{{$ctrl.group._name}}PanelContent">

    <div class="panel panel-default">
      <div class="panel-heading panel-heading-page" data-toggle="collapse"
           data-target="#Page{{$ctrl.name}}{{$ctrl.group._name}}GroupSettings"
           aria-expanded="true" aria-controls="Page{{$ctrl.name}}{{$ctrl.group._name}}GroupSettings">
        <span>Ustawienia</span>
      </div>
      <div class="panel-body collapse" id="Page{{$ctrl.name}}{{$ctrl.group._name}}GroupSettings">


        <div>
          <label for="{{$ctrl.group._name}}NameInput">Nazwa grupy</label>
          <input id="{{$ctrl.group._name}}NameInput" type="text" ng-model-options="{updateOn: 'blur'}"
                 ng-model="$ctrl.group._name" class="form-control input-auto-width">
        </div>

        <div class="btn-group top15 bot15">
          <label class="btn btn-primary" ng-model="$ctrl.group.page._position" uib-btn-radio="'gorny'">Gorny</label>
          <label class="btn btn-primary" ng-model="$ctrl.group.page._position" uib-btn-radio="'dolny'">Dolny</label>
        </div>


        <div ng-repeat="data in $ctrl.group.data" class="form-group language-group form-inline">
          <input ng-model="data._lang" type="text" class="form-control group-form-control" placeholder="Jezyk">
          <input ng-model="data._url" type="text" class="form-control group-form-control" placeholder="URL">
          <input ng-model="data._title" type="text" class="form-control group-form-control" placeholder="Tytul">
          <a ng-click="$ctrl.removeGroupData(data)" href="">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div>
          <button ng-click="$ctrl.addGroupData()" class="btn btn-primary">Dodaj dane</button>
        </div>


        <button class="btn btn-danger pull-right">Usun grupe</button>
      </div>
    </div>

    <div class="photos-list container-fluid top15">
      <photos-list photos="$ctrl.photos"></photos-list>
    </div>

    <a role="button" href="" class="btn btn-primary pull-right">Przejdz do edycji</a>


  </div>
</div>


