<div class="col-lg-2">
  <div class="row">
    <div class="container-fluid">
      <div class="list-group">

        <a href="#" ui-sref="domains.pages({domainName: domain._name})" ui-sref-active="active" ng-repeat="domain in $ctrl.domains" class="list-group-item">
          {{domain._name}}
        </a>

        <a href="#" ui-sref="domains.pages({domainName: ''})" ui-sref-active="active" class="list-group-item">
          Nieprzypisane
        </a>

      </div>

      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="$ctrl.addDomain(domainName)">Dodaj</button>
      </span>
        <input type="text" class="form-control" placeholder="Nowa domena" ng-model="domainName">
      </div>
    </div>

  </div>
</div>

<div class="col-lg-10">
  <div ui-view="details"></div>
  <div ui-view="pages"></div>
</div>