<div class="panel panel-default">
  <div class="panel-heading panel-heading-page" data-toggle="collapse" data-target="#{{$ctrl.page._action}}PageSettings"
       aria-expanded="true" aria-controls="{{$ctrl.page._action}}PageSettings">
    <span>Ustawienia</span>
  </div>
  <div class="panel-body collapse" id="{{$ctrl.page._action}}PageSettings">
    <div class="btn-group">
      <label uib-btn-checkbox btn-checkbox-true="'yes'" btn-checkbox-false="'no'" ng-model="$ctrl.page._photo"
             class="btn btn-primary">Photo page</label>
      <label uib-btn-checkbox btn-checkbox-true="'yes'" btn-checkbox-false="'no'" ng-model="$ctrl.page._show"
             class="btn btn-primary">Show</label>
    </div>
    <button class="btn btn-danger pull-right" ng-click="$ctrl.deletePage($ctrl.page)">Usun strone</button>
    <br/>
    <div class="form-inline top15">
      <label for="{{$ctrl.page._action}}Action">Akcja: </label>
      <input id="{{$ctrl.page._action}}Action" type="text" class="form-control input-auto-width" placeholder="action"
             ng-model="pageAction" ng-init="pageAction = $ctrl.page._action + ''" ng-blur="$ctrl.onPageActionChange(pageAction)">

      <label for="{{$ctrl.page._action}}Domain">Domena: </label>
      <input id="{{$ctrl.page._action}}Domain" type="text" class="form-control input-auto-width" placeholder="domain"
             ng-model="$ctrl.page._domain">
    </div>



    <!--<div ng-repeat="data in $ctrl.page.data" class="top15">-->
      <div class="form-group top15">

        <!--_lang-->
        <div class="form-inline">

          <label ng-class="{'text-danger': data._lang===''}"
                 for="{{$ctrl.page._action}}PageDataLang{{data._lang}}">Jezyk:</label>
          <!--<input  ng-model="data._lang" type="text"-->
                 <!--class="form-control input-auto-width" placeholder="lang"/>-->
          <select id="{{$ctrl.page._action}}PageDataLang{{data._lang}}" class="form-control input-auto-width" ng-init="data = $ctrl.page.data[0]" ng-model="data" ng-options="data._lang for data in $ctrl.page.data"></select>

          <!--_url-->
          <label ng-class="{'text-danger': data._url===''}"
                 for="{{$ctrl.page._action}}PageDataLang{{data._url}}">Url:</label>
          <input id="{{$ctrl.page._action}}PageDataLang{{data._url}}" ng-model="data._url" type="text"
                 class="form-control input-auto-width" placeholder="url"/>

          <!--_title-->
          <label ng-class="{'text-danger': data._title===''}" for="{{$ctrl.page._action}}PageDataLang{{data._title}}">Tytul:</label>
          <input id="{{$ctrl.page._action}}PageDataLang{{data._title}}" ng-model="data._title" type="text"
                 class="form-control input-auto-width" placeholder="title"/>

        </div>
        <!--_desc-->
        <label ng-class="{'text-danger': data._desc===''}"
               for="{{$ctrl.page._action}}PageDataLang{{data._desc}}">Opis:</label>
        <textarea id="{{$ctrl.page._action}}PageDataLang{{data._desc}}" ng-model="data._desc" type="text"
                  class="form-control " placeholder="desc" rows="2"></textarea>

        <!--<button class="btn btn-danger top15" confirm="Na pewno?" confirm-settings="{size: 'sm'}"-->
                <!--ng-click="$ctrl.removePageData($ctrl.page, data)">Usun-->
        <!--</button>-->
      </div>
    <!--</div>-->

    <!--<button ng-click="$ctrl.addPageData($ctrl.page)" class="btn btn-primary top15">Dodaj dane</button>-->
  </div>
</div>

<!--GRUPY-->
<div class="groups-container">
  <!--filter: {page: {_name: $ctrl.page._action}}-->
  <!--<div ng-if="$ctrl.page._photo === 'yes'" ng-repeat="group in $ctrl.groups | page: $ctrl.page._action">-->
  <div ng-if="$ctrl.page._photo === 'yes'"
       ng-repeat="group in $ctrl.getFilteredModel($ctrl.filteredModel, $ctrl.groups, $ctrl.page._action)">
    <group group="group" name="$ctrl.page._action" on-move-up="$ctrl.moveGroupUp(group)"
           on-move-down="$ctrl.moveGroupDown(group)"></group>
  </div>
</div>


<!--SELEKTOR GRUP-->

<div ng-if="$ctrl.page._photo === 'yes'" class="container-fluid">
  <div class="col-lg-2">
    <ui-select on-select="$ctrl.onGroupSelect($item, $ctrl.page._action)" ng-model="$selected" theme="bootstrap">
      <ui-select-match placeholder="Dodaj grupe">
        <span ng-bind="$select.selected._name"></span>
      </ui-select-match>
      <ui-select-choices repeat="group in ($ctrl.groups | filter: {_name: $select.search})">
        <span ng-class="{'unassigned-group-selector': group.page._name == '' }" ng-bind="group._name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <button ng-click="$ctrl.createEmptyGroup()" class="btn btn-primary">Stworz pusta grupe</button>
</div>

<!--/ SELEKTOR GRUP-->

<!--/ GRUPY-->

<!--EDYTOR TRESCI-->

<div ng-if="$ctrl.page._photo === 'no'" ng-repeat="data in $ctrl.page.data">
  <div class="well">
    <label for="{{$ctrl.page._name}}cdataContent{{data._lang}}">Tresc dla danych w jezyku {{data._lang}}</label>
    <textarea id="{{$ctrl.page._name}}cdataContent{{data._lang}}" class="form-control" rows="10"
              ng-model="data.__cdata"></textarea>
  </div>
</div>

<!--/ EDYTOR TRESCI-->