<div class="col-lg-2">
  <div class="row bot15">
    <button class="btn btn-primary form-control bot15" ui-sref="photos-view.all">Przejdz do zdjec</button>
    <button class="btn btn-primary form-control bot15" ui-sref="domains">Przejdz do domen</button>
  </div>
  <div class="row top15 bot15">
    <button class="btn btn-primary form-control top15" ng-click="$ctrl.exportDomains()">Exportuj Domeny</button>
    <button class="btn btn-primary form-control top15" ng-click="$ctrl.exportPages()">Exportuj Strony</button>
    <button class="btn btn-primary form-control top15" ng-click="$ctrl.exportGroups()">Exportuj Grupy</button>
    <button class="btn btn-primary form-control top15" ng-click="$ctrl.exportPhotos()">Exportuj Zdjecia</button>
    <button class="btn btn-primary form-control top15" ng-click="$ctrl.exportFiles()">Exportuj Pliki</button>
    <!--<button class="btn btn-primary form-control top15" ng-click="$ctrl.exportAsZip()">Exportuj wszystko jako .zip</button>-->

  </div>
  <div class="row top15">
    <button class="btn btn-danger form-control top15" ng-click="$ctrl.clearLocalStorage()">Wyczysc pamiec podreczna</button>
  </div>
</div>
<div class="col-lg-8 col-lg-offset-1">
  <div class="row">
    <div ngf-drop class="xmlLoader" ng-change="$ctrl.parseXMLFile($ctrl.files)" ng-model="$ctrl.files"
         ngf-dragover-class="'dragover'" ngf-multiple="true">
      <p>Przeciagnij plik(i) domains.xml, pages.xml, groups.xml, photos.xml, files.xml tutaj.</p>
    </div>
  </div>
  <div class="row">
    <div uib-alert ng-repeat="fileName in $ctrl.loadedFiles" class="alert-success top15" close="$ctrl.closeAlert($index)">
      Wczytano plik {{fileName}}
    </div>
  </div>
</div>