<div class="container-fluid">
  <div class="col-lg-12">
    <h4>Ustawienia dla: {{$ctrl.domainDetails._name}}</h4>
    <div class="row form-inline">
      <input class="form-control input-auto-width" type="text" ng-model="$ctrl.domainDetails._name" />
      <input class="form-control input-auto-width" type="text" ng-model="$ctrl.domainDetails._redirect" />
      <input class="form-control input-auto-width" type="text" ng-model="$ctrl.domainDetails._url" />
      <input class="checkbox" type="checkbox" ng-model="$ctrl.domainDetails._show" ng-true-value="'yes'" ng-false-value="'no'" /> Widoczna
      <button ng-click="$ctrl.debugData()">Sprawdz (debug)</button>
    </div>
  </div>
</div>