<div class="container-fluid">

  <div ng-if="$ctrl.domainDetails._name" class="panel panel-primary-filled">
    <div class="panel-heading" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
      <span class="text-capitalize">Ustawienia dla {{$ctrl.domainDetails._name}}</span>
    </div>
    <div class="panel-body" uib-collapse="$ctrl.isCollapsed">
      <div class="form-inline">
        <label>Nazwa</label>
        <input ng-blur="$ctrl.nameChanged(domainName)" class="form-control input-auto-width" type="text"
               ng-init="domainName = $ctrl.domainDetails._name+''" ng-model="domainName"/>
        <label>Przekierowanie</label>
        <input class="form-control input-auto-width" type="text" ng-model="$ctrl.domainDetails._redirect"/>
        <label>URL</label>
        <input class="form-control input-auto-width" type="text" ng-model="$ctrl.domainDetails._url"/>
        <input class="checkbox" type="checkbox" ng-model="$ctrl.domainDetails._show" ng-true-value="'yes'"
               ng-false-value="'no'"/> Widoczna
        <button class="btn btn-danger pull-right" ng-click="$ctrl.deleteDomain()">Usun</button>
      </div>
    </div>
  </div>

</div>