<!--MOVE / ADD PAGE SECTION-->
<div class="container-fluid add-page-container">
  <div class="col-lg-12">
    <div class="row">

      <div class="col-lg-2">
        <ui-select on-select="$ctrl.movePageToDomain($item, $ctrl.domainName)" ng-model="$selected" theme="bootstrap">
          <ui-select-match placeholder="Przenies strone">
            <span ng-bind="$select.selected._name"></span>
          </ui-select-match>
          <ui-select-choices repeat="page in ($ctrl.allPages | filter: {_domain: '!'+ $ctrl.domainName} | filter: {_action: $select.search})">
            <span ng-class="{'unassigned-group-selector': page._domain == '' }" ng-bind="page._action"></span>
          </ui-select-choices>
        </ui-select>
      </div>

      <button class="btn btn-success" ng-click="$ctrl.addPage()">Nowa strona</button>

    </div>
  </div>
</div>
<!--MOVE / ADD PAGE SECTION-->
<div class="pages-list-draggable">
  <div ng-repeat="page in $ctrl.pages track by $index" class="container-fluid page">
    <div class="col-lg-12">
      <div class="row">
        <!--PANEL-->
        <div class="panel panel-default top15">
          <!--HEAD-->
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#{{page._action}}Details"
               aria-expanded="true" aria-controls="{{page.action}}Groups">
            <span class="glyphicon glyphicon-chevron-up move-element" ng-click="$ctrl.movePageUp(page, $index); $event.stopPropagation()"></span>
            <span class="glyphicon glyphicon-chevron-down move-element" ng-click="$ctrl.movePageDown(page, $index); $event.stopPropagation()"></span>
            <span class="h3 text-capitalize" ng-class="{'text-danger': page._action === ''}">
            {{page._action === "" ? "&lt;uzupelnijakcje&gt;" : page._action}}
          </span>
          </div>
          <!--/ HEAD-END-->
          <!--BODY-->
          <div class="pageDetails panel-body collapse" id="{{page._action}}Details">
            <page-details page="page" groups="$ctrl.groups" on-delete="$ctrl.deletePage(page)"></page-details>
          </div>
          <!--BODY-END-->
        </div>
        <!--/ PANEL-END-->
      </div>

    </div>
  </div>
</div>

