<div class="photos-draggable row" ngf-drop ngf-select ng-model="$ctrl.files"
     ngf-dragover-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
     accept="image/*" ngf-pattern="image/*" ng-change="$ctrl.fileChange($ctrl.files)" ngf-select-disabled="true">
  <div ng-repeat="photo in $ctrl.getFilteredModel($ctrl.filteredModel, $ctrl.photos, $ctrl.groupname)" class="col-lg-3  text-center center-block">
    <div ng-if="$ctrl.getMinFile(photo)" class="photo-wrapper">
      <img class="img-thumbnail thumb" ng-src="{{$ctrl.getMinFile(photo)._path}}"
           ng-click="$ctrl.openPhotoDetailModal(photo)">
      <!--<div class="photo-description">{{photo.data[0]._title}}</div>-->
      <span ng-if="$ctrl.groupname.length > 0" class="glyphicon glyphicon-remove color-orange" ng-click="$ctrl.removePhotoFromGroup(photo, $ctrl.groupname)"></span>
    </div>

  </div>
  <div ng-repeat="file in $ctrl.tmpFiles" class="col-lg-3">
    <img class="img-thumbnail thumb" ng-src="{{file.data}}">
  </div>
  <!--<div class="img-thumbnail thumb col-lg-3 drop-box" ngf-drop ngf-select ng-model="$ctrl.files"-->
       <!--ngf-dragover-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"-->
       <!--accept="image/*" ngf-pattern="image/*" ng-change="$ctrl.fileChange($ctrl.files)">-->
    <!--Drop file here-->
  <!--</div>-->
</div>
